body {
  font-family: sans-serif
}

main {
  width: 600px;
  margin: 0 auto
}

h3 {
  position: relative;
  display: block;
  font-size: 30px
}

h3 + p {
  display: none;
  height: 0;
  opacity: 0.01;
  transition: opacity .7s
}

h3:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  color: #BA68C8;
  font-icon: 30px url(../images/chevron-left.svg);
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  transform-origin: right bottom;
  transition:
    color .5s,
    transform .5s
}

h3:hover:after {
  color: #303F9F;
  transform: rotate(-90deg)
}

h3:hover + p {
  display: block;
  height: 200px;
  opacity: 1
}
